.bgcolor { background: #7697A0; }
.bgcolor2 { background: #ECD59F; }

.check { color: #111111 !important; }

.center { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cc1 {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
