{% extends 'IA/main_page.html' %}

{% block content %}

<div class="w3-content" style="max-width:auto;">
    <div class="w3-container" id="about">
    <br>
    <h1>About US</h1>
    <h3>Welcome to Stay at Thailand!</h3>
    <div class="w3-image">
      <img src="static/IA/images/map.jpeg" class="w3-image" style="width:100%; length:100%;"></img>
    </div>
    <p>We made this website so that the hostels arround the Chaing Rai province in the Northern Thailand could be recognised by more and more tourists.
        The main objective of this website is to help the local hostels, so there won't be payment online. We only offer the chance of booking. <br> <br> 
        Regarding the payment of the hostels, it will change depending on the differnet hostels. No worries though, for we will list the options for payments with different hostels.
        This started as idea just to help out those hostels which has little to no knowledge of how to be discovered. <br> <br>
        Due to the geolocation of Chiang Rai, not many tourist goes to this location for their vacation in Thailand. <br>
        However Chiang Rai is an underestimated vaction location, and you will understand once you discover the nature view of Chiang Rai! <br>

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="true">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="static/IA/images/CR1.jpg" class="d-block w-100" alt="White Temple" style="float: left; width: 1000px; height: 800px; object-fit: cover;">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="p-3 mb-2 bg-black text-white bg-opacity-50">White Temple</h5>
                <p class="p-3 mb-2 bg-black text-white bg-opacity-50">A very famous type of temple in the Chiang Rai region</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="static/IA/images/peter-borter.jpg" class="d-block w-100" alt="Temple" style="float: left; width: 1000px; height: 800px; object-fit: cover;">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="p-3 mb-2 bg-black text-white bg-opacity-50">A Temple in the woods</h5>
                <p class="p-3 mb-2 bg-black text-white bg-opacity-50">Another very famous type of temple in the Chiang Rai region</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="static/IA/images/stefan-kunze.jpg" class="d-block w-100" alt="Waterfall" style="float: left; width: 1000px; height: 800px; object-fit: cover;">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="p-3 mb-2 bg-black text-white bg-opacity-50">A waterfall</h5>
                <p class="p-3 mb-2 bg-black text-white bg-opacity-50">Some common beauty seen around Chaing Rai</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="static/IA/images/priyanuch.jpg" class="d-block w-100" alt="Ballons" style="float: left; width: 1000px; height: 800px; object-fit: cover;">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="p-3 mb-2 bg-black text-white bg-opacity-50">Hot Air Ballons</h5>
                <p class="p-3 mb-2 bg-black text-white bg-opacity-50">You can have this experience here in Chiang Rai too! </p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="static/IA/images/simone.jpg" class="d-block w-100" alt="night-lights" style="float: left; width: 1000px; height: 800px; object-fit: cover;">
              <div class="carousel-caption d-none d-md-block">
                <h5 class="p-3 mb-2 bg-black text-white bg-opacity-50">Night Lights</h5>
                <p class="p-3 mb-2 bg-black text-white bg-opacity-50">Chaing Rai is stunning with it's night lights</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <br>
    </p>
</div>  

{% endblock %}