{% extends 'IA/main_page.html' %}

{% block content %}

{% if messages %}
{% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert row alert-success alert-dismissible fade show" id="alert" role="alert">
            {{ message }}
            <button type="button" class="btn-close" id="close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert row alert-warning alert-dismissible fade show" id="alert" role="alert">
            {{ message }}
            <button type="button" class="btn-close" id="close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endfor %}
{% endif %}



<body class="p-3 m-0 border-0 bd-example">
<form method="POST" enctype="multipart/form-data" class="p-3 m-0 border-0 bd-example">

    {% csrf_token %}

<div class="input-group mb-3">
    <span class="input-group-text" id="HNA">Hostel's name</span>
    {{context.add.name}}
</div>

<div class="input-group mb-3">
    <span class="input-group-text" id="HNA">Hostel's Address</span>
    {{context.add.address}}
</div>

<div class="input-group mb-3">
    <span class="input-group-text">Kilometers from the center</span>
    {{ context.add.distance }}
    <span class="input-group-text">km</span>
</div>

<div class="input-group mb-3">
    <span class="input-group-text">Check In</span>
    {{ context.add.checkindate }}
    <span class="input-group-text">Check Out</span>
    {{ context.add.checkoutdate }}

    <span class="input-group-text">Number of Adult(s)</span>
    {{ context.add.adults }}
    <span class="input-group-text">Number of Children</span>
    {{ context.add.children }}
</div>

<div class="input-group mb-3">
    <span class="input-group-text">Images</span>
    {{context.add.image}}
</div>

<div class="input-group">
    <span class="input-group-text">Description</span>
    <textarea class="form-control" aria-label="Description"></textarea>
    {{context.add.description}}
</div> 


{% comment %} <div class="input-group mb-3">
    <input type="file" class="form-control" id="inputGroupFile02">
    {{context.add.image}}
</div> {% endcomment %}


</br>
<div class="input-group mb-3">
<input type="submit" value="submit">
</div>
</form>


{% endblock %}