{% extends 'IA/main_page.html' %}

{% block content %}
    <center>

        {% if hcin %}
        <br>
            <h3 class="p-3 mb-2 bgcolor2 text-bgcolor2" >You searched for hostels with rooms avaliable from {{ cin }} to {{ cout }}, <br> With enough room for {{ adults }} adult(s) and {{ kids }} kid(s).</h3>
            <br/>
                {% for hostels in hcin %}

                    <div class="card" style="width: 36rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ hostels.name }}</h5>
                            <p class="card-text">{{ hostels.description }}</p>
                            <a href="{% url 'IA:show_hostels' hostels.id %}" class="btn btn-primary">Click me to see more</a>
                        </div>
                        <img src=" {{ hostels.image.url }} " class="card-img-bottom" alt="...">
                    </div>

                    <br>
    
                {% endfor %}
        {% else %}
            <h1>Sorry, but there is no avaliable space at the time you requested</h1>
        {% endif %}

    </center>   
{% endblock %}